{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="/">Дамой</a></li>
					<li><a href="{% url 'registeration_taxi' %}">Регистрация TAXI</a></li>
					<li><a href="{% url 'contacts' %}">Наше контакты</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">Добропожаловать на проект TAXI.</h1>
				<h3>Этот проект удобен для всех.</h3>
			</div>
		</div>
	</header>
	<!-- /Header -->
    <div class="container">
    <div class="taxi_filter">
    Куда едем: <input type="text">
    От куда едем: <input type="text">
    Марка машины: <input type="text">
    </div>
    </div>
    <hr>

    <div class="taxi_body">
    {% for registr_taxi in registr_taxi %}
        <div class="row">
            <div class="col-md-7">
                    <img class="img-responsive img-hover" src="{{ registr_taxi.car_photo.url }}" width="600" height="300">
            </div>
            <div class="col-md-5">
                <h3>Информация</h3>
                <h4>Цена: {{ registr_taxi.price }}</h4>
                <h4>Марка машины: {{ registr_taxi.car_model }}</h4>
                <p>{{ registr_taxi.name }} едит из города {{ registr_taxi.from_where }} в город {{ registr_taxi.where }}.</p>
                <a class="btn btn-primary" href="know_more/{{ registr_taxi.id }}">Узнать больше</a>
            </div>
        </div>
        <hr>
    {% endfor %}
    </div>
{% endblock %}