{% extends 'base_taxi.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% block content %}
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="/">Дамой</a></li>
					<li><a href="{% url 'registeration_taxi' %}">Регистрация TAXI</a></li>
					<li><a href="{% url 'contacts' %}">Наше контакты</a></li>
                    {% if user.is_authenticated %}
                     <li><a href="{% url 'personal_account' %}">Личный кабинет</a></li>
                     <li><a href="{% url 'user_logout' %}">Выход</a></li>
                    {% else %}
                    <li><a href="{% url 'registration_user' %}">Регистрация</a></li>
                    <li><a href="{% url 'taxi_login' %}">Вход</a></li>
                    {% endif %}
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>


	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">Добропожаловать {{ user.first_name }} на проект TAXI.</h1>
				<h3>Этот проект удобен для всех.</h3>
			</div>
		</div>
	</header>

	<!-- /Header -->

    <div class="taxi_filter">
    <form action="" method="get" class="container">
    Откуда: {{ filter.form.from_where }}
    Куда:   {{ filter.form.where }}
    Цена от: <input id="id_price_0" class="taxi_form" name="price_0" type="number" value="">
    Цена до: <input id="id_price_1" class="taxi_form" name="price_1" type="number" value="">
    <button id="send" type="submit" class="btn btn-success">Искать</button>
    </form>
    </div>
    <hr>
    <div class="taxi_body">
    {% for obj in filter %}
        <div class="row">
            <div class="col-md-7">
                {% if obj.car_photo %}
                    <img class="img-responsive img-hover" src="{{ obj.car_photo.url }}" width="600" height="300">
                {% else %}
                    <img src="http://www.fedegari.com/upld/pagine/big/no-image.jpg ">
                {% endif %}
            </div>

            <div class="col-md-5">
                <h3>Информация</h3>
                <h4>Цена: {{ obj.price }}</h4>
                <h4>Марка машины: {{ obj.car_model }}</h4>
                <p>{{ obj.name }} едит из города {{ obj.from_where }} в город {{ obj.where }}.</p>
                <a class="btn btn-primary" href="know_more/{{ obj.id }}">Узнать больше</a>
            </div>
        </div>
        <hr>
    {% endfor %}
    </div>
{% endblock %}