{% extends 'base_taxi.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% block content %}
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="/">Дамой</a></li>
					<li><a href="{% url 'registeration_taxi' %}">Регистрация TAXI</a></li>
					<li><a href="{% url 'contacts' %}">Наше контакты</a></li>
                    {% if user.is_authenticated %}
                     <li><a href="{% url 'user_logout' %}">Выход</a></li>
                    {% else %}
                    <li><a href="{% url 'registration_user' %}">Регистрация</a></li>
                    <li class="active"><a href="{% url 'taxi_login' %}">Вход</a></li>
                    {% endif %}
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
    <div class="container">

		<ol class="breadcrumb">
			<li><a href="/">Дамой</a></li>
			<li class="active">Регистрация TAXI</li>
		</ol>

		<div class="row">
			<!-- Article main content -->
			<article class="col-sm-14 maincontent">
				<header class="page-header">
					<h1 class="page-title taxi_h">Форма для регистрация Taxi</h1>
				</header>
                <div class="reg_taxi">
        		<form id="login_form" method="post">
                {% csrf_token %}
                Имя пользователя:<br/> <input type="text" class="taxi_form" name="username" value="" size="50" />
                        <br />
                Пароль:<br/> <input type="password" class="taxi_form" name="password" value="" size="50" />
                        <br />
                    <input class=" taxi_button btn btn-success" type="submit" value="Вход" />
                    <a href="{% url "password_reset_recover" %}" class=" taxi_button btn btn-success" role="button">Вастоновить пароль</a>
                </form>

                </div>
			</article>
			<!-- /Article -->
		</div>
	</div>	<!-- /container -->



{% endblock %}